@media screen and (min-width:641px) and (max-width: 1000px) {
    body {
        background-image: linear-gradient(to top, #5f2c82,#49a09d);
    }

    section {
        display: flex;
        width: 70vw;
        height: 300px;
    }
    section #imagem {
        height: 100%;
    }
    .logar input {
        width: 100%;
    }
    .input input {
        margin-left: 10px ;
        padding-left: 20px;
    }
    .input span {
        margin: 0 10px;
    }
    a > span {
        position: absolute;
        top: 82%;
    }
    input {
        padding: 10px;
        margin-top: 8px;
        border: none;
    }
}
@media screen and (min-width:1000px) {
    body {
        background-image: linear-gradient(to bottom, #5f2c82,#49a09d);
    }
    .input input {
        display: block;
        margin:  10px 30px;
        width: 360px;
        padding: 10px;
        border: none;
        
    }
    section {
        display: flex;
        width: 70vw;
        height: 300px;

    }
    section #imagem {
        position: absolute;
        width: 30vw;
        left: 60%;
        height: 100%;
        margin-left: 10px;
    }
    #texto, p {
        text-align: left;
        width: 385px;
    }
    .logar {
        width: 360px;
        margin-left: 30px;
    }
    .material-symbols-outlined {
        position: absolute;
    }
    #material {
        position: static;
    }
}