@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
}
:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque:'bebas neue', cursive;
    --fonte-android: 'Android', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: var(--cor1);
    overflow-x: hidden;
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding-top: 40px;
    min-width: 360px;
    color: white;
}
header > h1 {
    text-align: center;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
}
header > p {
    margin: 0px auto;
    text-align: center;
    max-width: 400px;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.3em;
    padding: 10px 0px 20px 0px;

}
header a {
    color: var(--cor0);
    padding: 0px 15px;
    text-decoration: none;
    font-size: 1.3em;
    display: inline-block;
}
header a:hover {
    color: var(--cor4);
    background-color: var(--cor2);
    border-radius: 10px;
    transition-duration: .5s;
}
main {
    background-color: white;
    margin: auto;
    max-width: 950px;
    min-width: 340px;
}
main  h1 {
    padding: 10px;
    font-family: var(--fonte-android);
    color: var(--cor4);
}
main h2 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-family: var(--fonte-android);
    color: var(--cor4);
    margin: 10px;
    font-weight: bolder;
    font-size: 1.6em;
}
main h3 {
    font-family: var(--fonte-android);
    color: white;
    background-color: var(--cor5);
    padding: 10px;
    margin-top: 10px;
}
main p {
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    text-indent: 20px;
    text-align: justify;
    padding: 10px;
    line-height: 1.5em;
}
main strong {
    color: var(--cor4);
}
main a {
    color: var(--cor2);
    text-decoration: none;
}
main a:hover {
    background-color: var(--cor5);
    border-radius: 4px;
    text-decoration: underline;
}
main a::after {
    content: '\00A0🔗';
}
picture .grande {
    width: 100%;
}
.pequena {
    display: block;
    margin: auto;
    max-width: 300px;
}
div.video {
    background-color: var(--cor5);
    margin: 0px -1px 30px -1px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5% ;
    left: 5% ;
    width: 90% ;
    height: 90% ;
}
aside {
    background-color: var(--cor0);
}
aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\1F5F8\00A0\00A0';
    padding-left: 5px;
}
footer {
    color: white;
    background-color: var(--cor5);
    margin-top: 10px;
    text-align: center;
    padding: 4px;
    font-family: var(--fonte-padrao);
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: var(--cor3);
    text-decoration: underline;
}