body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
iframe {
    position:absolute ;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 650px;
}